<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
     <title>
       {% block title %}
       {% endblock %}
     </title>

   {% block meta %}
	<meta charset="utf-8">
   	<meta name="description" content="">
	<meta name="author" content="">
   {% endblock %}
   
   <style>
body {
padding-top: 60px;
padding-bottom: 40px;
}
.sidebar-nav {
padding: 9px 0;
} 
</style>
   <link rel="stylesheet" href="{{ STATIC_URL }}video/css/base.css" type="text/css" /> 
   <link rel="stylesheet" href="{{ STATIC_URL }}video/css/style.css" type="text/css" /> 
   {% block css %}
   {% endblock %}

   {% block script %}
   {% endblock %}
   </head>

<body {% block onload %}{% endblock %}>

    <div class="navbar navbar-fixed-top">   
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">STApp</a>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a href="http://fosseeapps.in">Home</a>
                        </li>
                        <li class="active">
                            <a href="http://fosseeapps.in/stproject">STApp</a>
                        </li>
                        <li>
                            <a href="http://fosseeapps.in/pytask">PyTask</a>
                        </li>
                        <li>
                            <a href="http://fossee.in/online_test">Online Test</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
          <div class="row-fluid top-row">
            <div class="span12 main-video">
                <div class="span6">
                    {% block video %}
                    {% endblock %}
                </div>
                <div class="span6">
                  {% block video_description%}
                  {% endblock %}
                </div>
            </div>
          </div>

            {% block module_list %}
            {% endblock %}
<hr>
      <footer>
        <p>&copy; Company 2012</p>
      </footer>
    </div><!--/.fluid-container-->
</body>
</html>
