{% extends "base.html" %}

<!DOCTYPE html>
{% block title %} STProject {% endblock %}
    

{% block script %}
<script>
function myfunction(video,image)
{
        //document.getElementById('videoname').innerHTML= videoname;
        //alert(v);
        document.getElementById('mainvideo').poster = image;
        document.getElementById('mainvideo').src = video;

        //document.getElementById('videodescription').innerHTML= " " + v;

}
</script>
{% endblock %}
{% block onload %}  {% endblock onload %}

{% block video %}   
    <video width="640" height="480" controls="controls" id="mainvideo" poster="{{play.image.url}}"          preload="none" src="{{play.filename.url}}">
    </video>

{% endblock%}

{% block video_description %}
    <h1 id="videoname">{{ play.name }}</h1>
    <p id="videodescription">{{ play.description }}</p>
 {% endblock %}

{% block module_list %}
    {% for module in modules %}
        <div class="module-list"><h2>{{module.name}}</h2>
        <h5>{{module.description}}</h5>
        {% for video in module.video_list.all %}
        <a href=javascript:myfunction("{{video.filename.url}}","{{video.image.url}}");javascript:document.getElementById('videoname').innerHTML={{video.name}}; >{{video.name}}</a>
   <br />
        {% endfor %}</div>
{% endfor %}
{% endblock %}


