body{
    background : url("../img/background_texture.jpg") repeat fixed 50% 0 transparent;
    padding-top:40px;
}

.title{
    border-bottom : 1px solid #E1E2E1;
}

.top-row{
    background:none repeat scroll 0 0 #8E8E8E;
    margin-bottom:40px;
    margin-top : 40px;
}

.main-video{
    padding: 30px 20px 20px;
    height : 100%;
}

.module-row{
    border-bottom: 1px solid #E1E1E2;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.module-description{
    margin-bottom : 10px;
}
.module-list{
    border-right: 1px solid #E1E1E2;
    float: left;
    height: 150px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    width: 250px;
}

video{
    box-shadow:1px 1px 5px 1px #373634;
}

footer{
    background: none repeat scroll 0 0 #333333;
    border-top: 3px solid #222222;
    margin: 50px 0 0;
    padding: 30px 0 50px;
    color: #666666;
}
#video-panel{
    background: none repeat scroll 0 0 #F8F7F6;
    border: 5px solid #5a5a5a;
    height: 100%;
    padding: 5px;
}

#videodescription{
    font-size:14px;
}


